USE [master]
GO
/****** Object:  Database [QUESTIONARIO]    Script Date: 30/11/2017 15:33:54 ******/
CREATE DATABASE [QUESTIONARIO] ON  PRIMARY 
( NAME = N'QUESTIONARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DTINTEST\MSSQL\DATA\QUESTIONARIO.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUESTIONARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DTINTEST\MSSQL\DATA\QUESTIONARIO_log.ldf' , SIZE = 7168KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUESTIONARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUESTIONARIO]
GO
/****** Object:  Schema [QUESTIONARIO]    Script Date: 30/11/2017 15:33:54 ******/
CREATE SCHEMA [QUESTIONARIO]
GO
/****** Object:  Table [QUESTIONARIO].[FAMILIA]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[FAMILIA](
	[ID_FAMILIA] [int] IDENTITY(1,1) NOT NULL,
	[ENDERECO_NORMALIZADO] [bit] NOT NULL,
	[ID_CEP] [int] NULL,
	[ID_LOCALIDADE] [int] NOT NULL,
	[ENDERECO_BAIRRO] [varchar](200) NOT NULL,
	[ENDERECO_LOGRADOURO] [varchar](200) NOT NULL,
	[ENDERECO_NUMERO] [varchar](30) NOT NULL,
	[ENDERECO_COMPLEMENTO] [varchar](100) NULL,
	[FONE_FIXO] [varchar](15) NULL,
	[DATA_CRIACAO] [datetime] NOT NULL,
	[DATA_ALTERACAO] [datetime] NOT NULL,
 CONSTRAINT [PK_FAMILIA] PRIMARY KEY CLUSTERED 
(
	[ID_FAMILIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO](
	[ID_INFO_SOCIAL_ANEXO_TOPICO] [int] IDENTITY(1,1) NOT NULL,
	[ID_INFO_SOCIAL_TOPICO] [int] NOT NULL,
	[ID_INFO_SOCIAL_FOLHA_RESPOSTA] [int] NOT NULL,
	[TITULO_EXIBICAO] [varchar](200) NULL,
 CONSTRAINT [PK_INFO_SOCIAL_ANEXO_TOPICO] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_ANEXO_TOPICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA](
	[ID_INFO_SOCIAL_CATEGORIA] [int] NOT NULL,
	[ID_INFO_SOCIAL_QUESTIONARIO] [int] NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[ORDEM] [int] NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_FOLHA_RESPOSTA]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_FOLHA_RESPOSTA](
	[ID_INFO_SOCIAL_FOLHA_RESPOSTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PESSOA] [int] NOT NULL,
	[DATA_CONFIRMACAO] [datetime] NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_FOLHA_RESPOSTA] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_FOLHA_RESPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_OPCAO]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_OPCAO](
	[ID_INFO_SOCIAL_OPCAO] [int] NOT NULL,
	[ID_INFO_SOCIAL_TOPICO] [int] NOT NULL,
	[OPCAO] [varchar](200) NOT NULL,
	[ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] [int] NOT NULL,
	[RESPOSTA_COMPLEMENTAR_OBRIGATORIA] [bit] NULL,
	[ORDEM] [int] NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_OPCAO] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_OPCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_QUESTIONARIO]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_QUESTIONARIO](
	[ID_INFO_SOCIAL_QUESTIONARIO] [int] NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[DESCRICAO] [varchar](400) NULL,
	[DATA_INICIO] [datetime] NULL,
	[DATA_TERMINO] [datetime] NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_QUESTIONARIO] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_QUESTIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA](
	[ID_INFO_SOCIAL_RESPOSTA] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_RESPOSTA] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_RESPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA_COMPLEMENTAR]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA_COMPLEMENTAR](
	[ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_RESULTADO]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_RESULTADO](
	[ID_INFO_SOCIAL_FOLHA_RESPOSTA] [int] NOT NULL,
	[ID_INFO_SOCIAL_OPCAO] [int] NOT NULL,
	[RESPOSTA_COMPLEMENTAR] [varchar](400) NULL,
 CONSTRAINT [PK_INFO_SOCIAL_RESULTADO] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_FOLHA_RESPOSTA] ASC,
	[ID_INFO_SOCIAL_OPCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO](
	[ID_INFO_SOCIAL_SUBTOPICO] [int] NOT NULL,
	[ID_INFO_SOCIAL_CATEGORIA] [int] NOT NULL,
	[ID_INFO_SOCIAL_TOPICO_PAI] [int] NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_SUBTOPICO] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_SUBTOPICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[INFO_SOCIAL_TOPICO]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[INFO_SOCIAL_TOPICO](
	[ID_INFO_SOCIAL_TOPICO] [int] NOT NULL,
	[ID_INFO_SOCIAL_CATEGORIA] [int] NOT NULL,
	[PERGUNTA] [varchar](400) NOT NULL,
	[ID_INFO_SOCIAL_RESPOSTA] [int] NOT NULL,
	[RESPOSTA_OBRIGATORIA] [bit] NOT NULL,
	[ANEXO_TOPICO_PERMITIDO] [bit] NOT NULL,
	[ORDEM] [int] NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_INFO_SOCIAL_TOPICO] PRIMARY KEY CLUSTERED 
(
	[ID_INFO_SOCIAL_TOPICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [QUESTIONARIO].[PESSOA]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTIONARIO].[PESSOA](
	[ID_PESSOA] [int] IDENTITY(1,1) NOT NULL,
	[ID_FAMILIA] [int] NOT NULL,
	[CPF] [numeric](11, 0) NULL,
	[NOME_COMPLETO] [varchar](200) NOT NULL,
	[IDADE] [int] NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[EMAIL] [varchar](200) NULL,
	[FONE_CELULAR] [varchar](15) NULL,
	[DATA_CRIACAO] [datetime] NOT NULL,
	[DATA_ALTERACAO] [datetime] NOT NULL,
 CONSTRAINT [PK_PESSOA] PRIMARY KEY CLUSTERED 
(
	[ID_PESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [QUESTIONARIO].[VW_QUESTIONARIO_TOPICO_EXIBIR]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [QUESTIONARIO].[VW_QUESTIONARIO_TOPICO_EXIBIR]
AS

/*
-- RETORNA QUESTIONARIOS/CATEGORIAS/TOPICOS ATIVOS
-- INFORMA SE SUBTOPICO
*/

	SELECT
		A.ID_INFO_SOCIAL_QUESTIONARIO
		,A.NOME QUESTIONARIO_NOME
		,A.DESCRICAO QUESTIONARIO_DESCRICAO
		,A.DATA_INICIO QUESTIONARIO_DATA_INICIO
		,A.DATA_TERMINO QUESTIONARIO_DATA_TERMINO
--		,A.ATIVO QUESTIONARIO_ATIVO
		,B.ID_INFO_SOCIAL_CATEGORIA
		,B.NOME CATEGORIA_NOME
		,B.ORDEM CATEGORIA_ORDEM
--		,B.ATIVO CATEGORIA_ATIVO
		,C.ID_INFO_SOCIAL_TOPICO
		,C.PERGUNTA TOPICO_PERGUNTA
		,C.ID_INFO_SOCIAL_RESPOSTA
		,C.RESPOSTA_OBRIGATORIA TOPICO_RESPOSTA_OBRIGATORIA
		,C.ANEXO_TOPICO_PERMITIDO TOPICO_ANEXO_TOPICO_PERMITIDO
		,C.ORDEM TOPICO_ORDEM
--		,C.ATIVO TOPICO_ATIVO
		,D.DESCRICAO RESPOSTA_DESCRICAO
		,(
			SELECT
				Z.ID_INFO_SOCIAL_TOPICO_PAI
			FROM
				QUESTIONARIO.INFO_SOCIAL_SUBTOPICO Z (NOLOCK)
			WHERE
				Z.ID_INFO_SOCIAL_CATEGORIA = C.ID_INFO_SOCIAL_CATEGORIA
				AND Z.ID_INFO_SOCIAL_SUBTOPICO = C.ID_INFO_SOCIAL_TOPICO
		) ID_INFO_SOCIAL_TOPICO_PAI_ABERTO
	FROM
		QUESTIONARIO.INFO_SOCIAL_QUESTIONARIO A (NOLOCK)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_CATEGORIA B (NOLOCK)
			ON (A.ID_INFO_SOCIAL_QUESTIONARIO = B.ID_INFO_SOCIAL_QUESTIONARIO)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_TOPICO C (NOLOCK)
			ON (B.ID_INFO_SOCIAL_CATEGORIA = C.ID_INFO_SOCIAL_CATEGORIA)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_RESPOSTA D (NOLOCK)
			ON (C.ID_INFO_SOCIAL_RESPOSTA = D.ID_INFO_SOCIAL_RESPOSTA)
	WHERE
		A.ATIVO = 1
		AND B.ATIVO = 1
		AND C.ATIVO = 1;

GO
/****** Object:  View [QUESTIONARIO].[VW_ANEXO_TOPICO_EXIBIR]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [QUESTIONARIO].[VW_ANEXO_TOPICO_EXIBIR]
AS

/*
-- RETORNA ANEXOS SALVOS
-- PENDENTE LINKAR COM FILEDB E ANEXO EFETIVO
*/

	SELECT
		A.ID_INFO_SOCIAL_FOLHA_RESPOSTA
		,A.ID_PESSOA
		,A.DATA_CONFIRMACAO
		,B.ID_INFO_SOCIAL_ANEXO_TOPICO
		,B.TITULO_EXIBICAO
		,C.*
	FROM
		QUESTIONARIO.INFO_SOCIAL_FOLHA_RESPOSTA A (NOLOCK)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_ANEXO_TOPICO B (NOLOCK)
			ON (A.ID_INFO_SOCIAL_FOLHA_RESPOSTA = B.ID_INFO_SOCIAL_FOLHA_RESPOSTA)
		INNER JOIN QUESTIONARIO.VW_QUESTIONARIO_TOPICO_EXIBIR C (NOLOCK)
			ON (B.ID_INFO_SOCIAL_TOPICO = C.ID_INFO_SOCIAL_TOPICO);

GO
/****** Object:  View [QUESTIONARIO].[VW_QUESTIONARIO_OPCAO_EXIBIR]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [QUESTIONARIO].[VW_QUESTIONARIO_OPCAO_EXIBIR]
AS

/*
-- RETORNA QUESTIONARIOS/CATEGORIAS/TOPICOS/OPCOES ATIVOS
-- INFORMA SE SUBTOPICO
*/

	SELECT
		A.ID_INFO_SOCIAL_QUESTIONARIO
		,A.NOME QUESTIONARIO_NOME
		,A.DESCRICAO QUESTIONARIO_DESCRICAO
		,A.DATA_INICIO QUESTIONARIO_DATA_INICIO
		,A.DATA_TERMINO QUESTIONARIO_DATA_TERMINO
--		,A.ATIVO QUESTIONARIO_ATIVO
		,B.ID_INFO_SOCIAL_CATEGORIA
		,B.NOME CATEGORIA_NOME
		,B.ORDEM CATEGORIA_ORDEM
--		,B.ATIVO CATEGORIA_ATIVO
		,C.ID_INFO_SOCIAL_TOPICO
		,C.PERGUNTA TOPICO_PERGUNTA
		,C.ID_INFO_SOCIAL_RESPOSTA
		,C.RESPOSTA_OBRIGATORIA TOPICO_RESPOSTA_OBRIGATORIA
		,C.ANEXO_TOPICO_PERMITIDO TOPICO_ANEXO_TOPICO_PERMITIDO
		,C.ORDEM TOPICO_ORDEM
--		,C.ATIVO TOPICO_ATIVO
		,D.DESCRICAO RESPOSTA_DESCRICAO
		,E.ID_INFO_SOCIAL_OPCAO
		,E.OPCAO OPCAO_OPCAO
		,E.ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR
		,E.RESPOSTA_COMPLEMENTAR_OBRIGATORIA OPCAO_RESPOSTA_COMPLEMENTAR_OBRIGATORIA
		,E.ORDEM OPCAO_ORDEM
--		,E.ATIVO OPCAO_ATIVO
		,F.DESCRICAO RESPOSTA_COMPLEMENTAR_DESCRICAO
		,(
			SELECT
				Z.ID_INFO_SOCIAL_TOPICO_PAI
			FROM
				QUESTIONARIO.INFO_SOCIAL_SUBTOPICO Z (NOLOCK)
			WHERE
				Z.ID_INFO_SOCIAL_CATEGORIA = C.ID_INFO_SOCIAL_CATEGORIA
				AND Z.ID_INFO_SOCIAL_SUBTOPICO = C.ID_INFO_SOCIAL_TOPICO
		) ID_INFO_SOCIAL_TOPICO_PAI_ABERTO
	FROM
		QUESTIONARIO.INFO_SOCIAL_QUESTIONARIO A (NOLOCK)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_CATEGORIA B (NOLOCK)
			ON (A.ID_INFO_SOCIAL_QUESTIONARIO = B.ID_INFO_SOCIAL_QUESTIONARIO)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_TOPICO C (NOLOCK)
			ON (B.ID_INFO_SOCIAL_CATEGORIA = C.ID_INFO_SOCIAL_CATEGORIA)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_RESPOSTA D (NOLOCK)
			ON (C.ID_INFO_SOCIAL_RESPOSTA = D.ID_INFO_SOCIAL_RESPOSTA)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_OPCAO E (NOLOCK)
			ON (C.ID_INFO_SOCIAL_TOPICO = E.ID_INFO_SOCIAL_TOPICO)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_RESPOSTA_COMPLEMENTAR F (NOLOCK)
			ON (E.ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR = F.ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR)
	WHERE
		A.ATIVO = 1
		AND B.ATIVO = 1
		AND C.ATIVO = 1
		AND E.ATIVO = 1;

GO
/****** Object:  View [QUESTIONARIO].[VW_FOLHA_RESPOSTA_EXIBIR]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [QUESTIONARIO].[VW_FOLHA_RESPOSTA_EXIBIR]
AS

/*
-- RETORNA AS RESPOSTAS SALVAS
*/

	SELECT
		A.ID_INFO_SOCIAL_FOLHA_RESPOSTA
		,A.ID_PESSOA
		,A.DATA_CONFIRMACAO
		,B.RESPOSTA_COMPLEMENTAR
		,C.*
	FROM
		QUESTIONARIO.INFO_SOCIAL_FOLHA_RESPOSTA A (NOLOCK)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_RESULTADO B (NOLOCK)
			ON (A.ID_INFO_SOCIAL_FOLHA_RESPOSTA = B.ID_INFO_SOCIAL_FOLHA_RESPOSTA)
		INNER JOIN QUESTIONARIO.VW_QUESTIONARIO_OPCAO_EXIBIR C (NOLOCK)
			ON (B.ID_INFO_SOCIAL_OPCAO = C.ID_INFO_SOCIAL_OPCAO);

GO
/****** Object:  View [QUESTIONARIO].[VW_PESSOA_EXIBIR]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [QUESTIONARIO].[VW_PESSOA_EXIBIR]
AS

/*
-- RETORNA FAMILIAS/PESSOAS
*/

	SELECT
		A.ID_FAMILIA
		,A.ENDERECO_NORMALIZADO
		,A.ID_CEP
		,A.ID_LOCALIDADE
		,A.ENDERECO_BAIRRO
		,A.ENDERECO_LOGRADOURO
		,A.ENDERECO_NUMERO
		,A.ENDERECO_COMPLEMENTO
		,A.FONE_FIXO
		,A.DATA_CRIACAO FAMILIA_DATA_CRIACAO
		,A.DATA_ALTERACAO FAMILIA_DATA_ALTERACAO
		,B.ID_PESSOA
		,B.CPF
		,B.NOME_COMPLETO
		,B.IDADE
		,B.SEXO
		,B.EMAIL
		,B.FONE_CELULAR
		,B.DATA_CRIACAO PESSOA_DATA_CRIACAO
		,B.DATA_ALTERACAO PESSOA_DATA_ALTERACAO
	FROM
		QUESTIONARIO.FAMILIA A (NOLOCK)
		INNER JOIN QUESTIONARIO.PESSOA B (NOLOCK)
			ON (A.ID_FAMILIA = B.ID_FAMILIA);

GO
/****** Object:  View [QUESTIONARIO].[VW_QUESTIONARIO_CATEGORIA_EXIBIR]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [QUESTIONARIO].[VW_QUESTIONARIO_CATEGORIA_EXIBIR]
AS

/*
-- RETORNA QUESTIONARIOS/CATEGORIAS ATIVOS
*/

	SELECT
		A.ID_INFO_SOCIAL_QUESTIONARIO
		,A.NOME QUESTIONARIO_NOME
		,A.DESCRICAO QUESTIONARIO_DESCRICAO
		,A.DATA_INICIO QUESTIONARIO_DATA_INICIO
		,A.DATA_TERMINO QUESTIONARIO_DATA_TERMINO
--		,A.ATIVO QUESTIONARIO_ATIVO
		,B.ID_INFO_SOCIAL_CATEGORIA
		,B.NOME CATEGORIA_NOME
		,B.ORDEM CATEGORIA_ORDEM
--		,B.ATIVO CATEGORIA_ATIVO
	FROM
		QUESTIONARIO.INFO_SOCIAL_QUESTIONARIO A (NOLOCK)
		INNER JOIN QUESTIONARIO.INFO_SOCIAL_CATEGORIA B (NOLOCK)
			ON (A.ID_INFO_SOCIAL_QUESTIONARIO = B.ID_INFO_SOCIAL_QUESTIONARIO)
	WHERE
		A.ATIVO = 1
		AND B.ATIVO = 1;

GO
INSERT [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA] ([ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_QUESTIONARIO], [NOME], [ORDEM], [ATIVO]) VALUES (1, 1, N'PERGUNTAS AO MORADOR', 1, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA] ([ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_QUESTIONARIO], [NOME], [ORDEM], [ATIVO]) VALUES (2, 1, N'AVALIAÇÃO TÉCNICA', 2, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_OPCAO] ([ID_INFO_SOCIAL_OPCAO], [ID_INFO_SOCIAL_TOPICO], [OPCAO], [ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR], [RESPOSTA_COMPLEMENTAR_OBRIGATORIA], [ORDEM], [ATIVO]) VALUES (1, 1, N'MORO SOZINHO.', 1, NULL, 1, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_OPCAO] ([ID_INFO_SOCIAL_OPCAO], [ID_INFO_SOCIAL_TOPICO], [OPCAO], [ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR], [RESPOSTA_COMPLEMENTAR_OBRIGATORIA], [ORDEM], [ATIVO]) VALUES (2, 1, N'UM A TRÊS.', 1, NULL, 2, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_OPCAO] ([ID_INFO_SOCIAL_OPCAO], [ID_INFO_SOCIAL_TOPICO], [OPCAO], [ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR], [RESPOSTA_COMPLEMENTAR_OBRIGATORIA], [ORDEM], [ATIVO]) VALUES (3, 1, N'QUATRO A SETE.', 1, NULL, 3, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_QUESTIONARIO] ([ID_INFO_SOCIAL_QUESTIONARIO], [NOME], [DESCRICAO], [DATA_INICIO], [DATA_TERMINO], [ATIVO]) VALUES (1, N'QUESTIONÁRIO PARA ENTREVISTA DE CARTÃO REFORMA', NULL, NULL, NULL, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA] ([ID_INFO_SOCIAL_RESPOSTA], [DESCRICAO]) VALUES (1, N'RESPOSTA DIRETA (SEM OPÇÕES DISPONÍVEIS - JÁ VEM HIDDEN, PRÉ SELECIONADA)')
INSERT [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA] ([ID_INFO_SOCIAL_RESPOSTA], [DESCRICAO]) VALUES (2, N'RESPOSTA ÚNICA (APENAS UMA OPÇÃO SELECIONÁVEL ENTRE AS DISPONÍVEIS)')
INSERT [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA] ([ID_INFO_SOCIAL_RESPOSTA], [DESCRICAO]) VALUES (3, N'RESPOSTA MÚLTIPLA (MÚTIPLAS OPÇÕES SELECIONÁVEIS ENTRE AS DISPONÍVEIS)')
INSERT [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] ([ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR], [DESCRICAO]) VALUES (1, N'NENHUMA RESPOSTA COMPLEMENTAR DISPONÍVEL')
INSERT [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] ([ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR], [DESCRICAO]) VALUES (2, N'TEXTO ALFANUMÉRICO')
INSERT [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] ([ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR], [DESCRICAO]) VALUES (3, N'TEXTO APENAS NUMÉRICO')
INSERT [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO] ([ID_INFO_SOCIAL_SUBTOPICO], [ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_TOPICO_PAI]) VALUES (2, 1, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO] ([ID_INFO_SOCIAL_SUBTOPICO], [ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_TOPICO_PAI]) VALUES (3, 1, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO] ([ID_INFO_SOCIAL_SUBTOPICO], [ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_TOPICO_PAI]) VALUES (13, 1, 12)
INSERT [QUESTIONARIO].[INFO_SOCIAL_TOPICO] ([ID_INFO_SOCIAL_TOPICO], [ID_INFO_SOCIAL_CATEGORIA], [PERGUNTA], [ID_INFO_SOCIAL_RESPOSTA], [RESPOSTA_OBRIGATORIA], [ANEXO_TOPICO_PERMITIDO], [ORDEM], [ATIVO]) VALUES (1, 1, N'QUANTAS PESSOAS MORAM COM VOCÊ? (INCLUINDO FILHOS, IRMÃOS, PARENTES E AMIGOS)', 2, 1, 0, 1, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_TOPICO] ([ID_INFO_SOCIAL_TOPICO], [ID_INFO_SOCIAL_CATEGORIA], [PERGUNTA], [ID_INFO_SOCIAL_RESPOSTA], [RESPOSTA_OBRIGATORIA], [ANEXO_TOPICO_PERMITIDO], [ORDEM], [ATIVO]) VALUES (2, 1, N'TEM IDOSO?', 2, 1, 0, 2, 1)
INSERT [QUESTIONARIO].[INFO_SOCIAL_TOPICO] ([ID_INFO_SOCIAL_TOPICO], [ID_INFO_SOCIAL_CATEGORIA], [PERGUNTA], [ID_INFO_SOCIAL_RESPOSTA], [RESPOSTA_OBRIGATORIA], [ANEXO_TOPICO_PERMITIDO], [ORDEM], [ATIVO]) VALUES (3, 1, N'TEM DEFICIENTE?', 2, 1, 0, 3, 1)
/****** Object:  Index [IX_INFO_SOCIAL_ANEXO_TOPICO]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_ANEXO_TOPICO] ON [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO]
(
	[ID_INFO_SOCIAL_FOLHA_RESPOSTA] ASC,
	[ID_INFO_SOCIAL_TOPICO] ASC,
	[ID_INFO_SOCIAL_ANEXO_TOPICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_CATEGORIA]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_CATEGORIA] ON [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA]
(
	[ID_INFO_SOCIAL_QUESTIONARIO] ASC,
	[ID_INFO_SOCIAL_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_CATEGORIA_ORDEM]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_CATEGORIA_ORDEM] ON [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA]
(
	[ID_INFO_SOCIAL_QUESTIONARIO] ASC,
	[ORDEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_FOLHA_RESPOSTA]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_FOLHA_RESPOSTA] ON [QUESTIONARIO].[INFO_SOCIAL_FOLHA_RESPOSTA]
(
	[ID_PESSOA] ASC,
	[ID_INFO_SOCIAL_FOLHA_RESPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_OPCAO]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_OPCAO] ON [QUESTIONARIO].[INFO_SOCIAL_OPCAO]
(
	[ID_INFO_SOCIAL_TOPICO] ASC,
	[ID_INFO_SOCIAL_OPCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_OPCAO_ORDEM]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_OPCAO_ORDEM] ON [QUESTIONARIO].[INFO_SOCIAL_OPCAO]
(
	[ID_INFO_SOCIAL_TOPICO] ASC,
	[ORDEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_SUBTOPICO]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_SUBTOPICO] ON [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO]
(
	[ID_INFO_SOCIAL_CATEGORIA] ASC,
	[ID_INFO_SOCIAL_TOPICO_PAI] ASC,
	[ID_INFO_SOCIAL_SUBTOPICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_TOPICO]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_TOPICO] ON [QUESTIONARIO].[INFO_SOCIAL_TOPICO]
(
	[ID_INFO_SOCIAL_CATEGORIA] ASC,
	[ID_INFO_SOCIAL_TOPICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INFO_SOCIAL_TOPICO_ORDEM]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INFO_SOCIAL_TOPICO_ORDEM] ON [QUESTIONARIO].[INFO_SOCIAL_TOPICO]
(
	[ID_INFO_SOCIAL_CATEGORIA] ASC,
	[ORDEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PESSOA]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PESSOA] ON [QUESTIONARIO].[PESSOA]
(
	[ID_FAMILIA] ASC,
	[ID_PESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PESSOA_CPF]    Script Date: 30/11/2017 15:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PESSOA_CPF] ON [QUESTIONARIO].[PESSOA]
(
	[CPF] ASC
)
WHERE ([CPF] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_ANEXO_TOPICO_INFO_SOCIAL_FOLHA_RESPOSTA] FOREIGN KEY([ID_INFO_SOCIAL_FOLHA_RESPOSTA])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_FOLHA_RESPOSTA] ([ID_INFO_SOCIAL_FOLHA_RESPOSTA])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO] CHECK CONSTRAINT [FK_INFO_SOCIAL_ANEXO_TOPICO_INFO_SOCIAL_FOLHA_RESPOSTA]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_ANEXO_TOPICO_INFO_SOCIAL_TOPICO] FOREIGN KEY([ID_INFO_SOCIAL_TOPICO])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_TOPICO] ([ID_INFO_SOCIAL_TOPICO])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO] CHECK CONSTRAINT [FK_INFO_SOCIAL_ANEXO_TOPICO_INFO_SOCIAL_TOPICO]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_CATEGORIA_INFO_SOCIAL_QUESTIONARIO] FOREIGN KEY([ID_INFO_SOCIAL_QUESTIONARIO])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_QUESTIONARIO] ([ID_INFO_SOCIAL_QUESTIONARIO])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA] CHECK CONSTRAINT [FK_INFO_SOCIAL_CATEGORIA_INFO_SOCIAL_QUESTIONARIO]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_FOLHA_RESPOSTA]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_FOLHA_RESPOSTA_PESSOA] FOREIGN KEY([ID_PESSOA])
REFERENCES [QUESTIONARIO].[PESSOA] ([ID_PESSOA])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_FOLHA_RESPOSTA] CHECK CONSTRAINT [FK_INFO_SOCIAL_FOLHA_RESPOSTA_PESSOA]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_OPCAO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_OPCAO_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] FOREIGN KEY([ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA_COMPLEMENTAR] ([ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_OPCAO] CHECK CONSTRAINT [FK_INFO_SOCIAL_OPCAO_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_OPCAO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_OPCAO_INFO_SOCIAL_TOPICO] FOREIGN KEY([ID_INFO_SOCIAL_TOPICO])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_TOPICO] ([ID_INFO_SOCIAL_TOPICO])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_OPCAO] CHECK CONSTRAINT [FK_INFO_SOCIAL_OPCAO_INFO_SOCIAL_TOPICO]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_RESULTADO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_RESULTADO_INFO_SOCIAL_FOLHA_RESPOSTA] FOREIGN KEY([ID_INFO_SOCIAL_FOLHA_RESPOSTA])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_FOLHA_RESPOSTA] ([ID_INFO_SOCIAL_FOLHA_RESPOSTA])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_RESULTADO] CHECK CONSTRAINT [FK_INFO_SOCIAL_RESULTADO_INFO_SOCIAL_FOLHA_RESPOSTA]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_RESULTADO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_RESULTADO_INFO_SOCIAL_OPCAO] FOREIGN KEY([ID_INFO_SOCIAL_OPCAO])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_OPCAO] ([ID_INFO_SOCIAL_OPCAO])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_RESULTADO] CHECK CONSTRAINT [FK_INFO_SOCIAL_RESULTADO_INFO_SOCIAL_OPCAO]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_SUBTOPICO_INFO_SOCIAL_TOPICO_SUBTOPICO] FOREIGN KEY([ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_SUBTOPICO])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_TOPICO] ([ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_TOPICO])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO] CHECK CONSTRAINT [FK_INFO_SOCIAL_SUBTOPICO_INFO_SOCIAL_TOPICO_SUBTOPICO]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_SUBTOPICO_INFO_SOCIAL_TOPICO_TOPICO_PAI] FOREIGN KEY([ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_TOPICO_PAI])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_TOPICO] ([ID_INFO_SOCIAL_CATEGORIA], [ID_INFO_SOCIAL_TOPICO])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_SUBTOPICO] CHECK CONSTRAINT [FK_INFO_SOCIAL_SUBTOPICO_INFO_SOCIAL_TOPICO_TOPICO_PAI]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_TOPICO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_TOPICO_INFO_SOCIAL_CATEGORIA] FOREIGN KEY([ID_INFO_SOCIAL_CATEGORIA])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_CATEGORIA] ([ID_INFO_SOCIAL_CATEGORIA])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_TOPICO] CHECK CONSTRAINT [FK_INFO_SOCIAL_TOPICO_INFO_SOCIAL_CATEGORIA]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_TOPICO]  WITH CHECK ADD  CONSTRAINT [FK_INFO_SOCIAL_TOPICO_INFO_SOCIAL_RESPOSTA] FOREIGN KEY([ID_INFO_SOCIAL_RESPOSTA])
REFERENCES [QUESTIONARIO].[INFO_SOCIAL_RESPOSTA] ([ID_INFO_SOCIAL_RESPOSTA])
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_TOPICO] CHECK CONSTRAINT [FK_INFO_SOCIAL_TOPICO_INFO_SOCIAL_RESPOSTA]
GO
ALTER TABLE [QUESTIONARIO].[PESSOA]  WITH CHECK ADD  CONSTRAINT [FK_PESSOA_FAMILIA] FOREIGN KEY([ID_FAMILIA])
REFERENCES [QUESTIONARIO].[FAMILIA] ([ID_FAMILIA])
GO
ALTER TABLE [QUESTIONARIO].[PESSOA] CHECK CONSTRAINT [FK_PESSOA_FAMILIA]
GO
ALTER TABLE [QUESTIONARIO].[FAMILIA]  WITH CHECK ADD  CONSTRAINT [CK_FAMILIA_ENDERECO_NORMALIZADO] CHECK  (([ENDERECO_NORMALIZADO]=(0) AND [ID_CEP] IS NULL OR [ENDERECO_NORMALIZADO]=(1) AND [ID_CEP] IS NOT NULL))
GO
ALTER TABLE [QUESTIONARIO].[FAMILIA] CHECK CONSTRAINT [CK_FAMILIA_ENDERECO_NORMALIZADO]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_OPCAO]  WITH CHECK ADD  CONSTRAINT [CK_INFO_SOCIAL_OPCAO_RESPOSTA_COMPLEMENTAR] CHECK  (([ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR]=(1) AND [RESPOSTA_COMPLEMENTAR_OBRIGATORIA] IS NULL OR [ID_INFO_SOCIAL_RESPOSTA_COMPLEMENTAR]<>(1) AND [RESPOSTA_COMPLEMENTAR_OBRIGATORIA] IS NOT NULL))
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_OPCAO] CHECK CONSTRAINT [CK_INFO_SOCIAL_OPCAO_RESPOSTA_COMPLEMENTAR]
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_TOPICO]  WITH CHECK ADD  CONSTRAINT [CK_INFO_SOCIAL_TOPICO_ANEXO_TOPICO_PERMITIDO] CHECK  (([ID_INFO_SOCIAL_RESPOSTA]<>(1) AND [ANEXO_TOPICO_PERMITIDO]=(0) OR [ID_INFO_SOCIAL_RESPOSTA]=(1)))
GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_TOPICO] CHECK CONSTRAINT [CK_INFO_SOCIAL_TOPICO_ANEXO_TOPICO_PERMITIDO]
GO
ALTER TABLE [QUESTIONARIO].[PESSOA]  WITH CHECK ADD  CONSTRAINT [CK_PESSOA_SEXO] CHECK  (([SEXO]='M' OR [SEXO]='F'))
GO
ALTER TABLE [QUESTIONARIO].[PESSOA] CHECK CONSTRAINT [CK_PESSOA_SEXO]
GO
/****** Object:  Trigger [QUESTIONARIO].[TR_CK_ANEXO_TOPICO_PERMITIDO]    Script Date: 30/11/2017 15:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [QUESTIONARIO].[TR_CK_ANEXO_TOPICO_PERMITIDO]
	ON [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO]
	AFTER INSERT, UPDATE
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (
		SELECT
			A.ID_INFO_SOCIAL_TOPICO
		FROM
			inserted A
			INNER JOIN QUESTIONARIO.INFO_SOCIAL_TOPICO B
				ON (B.ID_INFO_SOCIAL_TOPICO = A.ID_INFO_SOCIAL_TOPICO)
		WHERE
			B.ANEXO_TOPICO_PERMITIDO = 0
	)
	BEGIN
		RAISERROR ('ID_INFO_SOCIAL_TOPICO A SER INSERIDO NAO POSSUI PERMISSAO DE ANEXOS EM INFO_SOCIAL_TOPICO', 16, 1) WITH NOWAIT;
		ROLLBACK TRANSACTION;
		RETURN
	END
END

GO
ALTER TABLE [QUESTIONARIO].[INFO_SOCIAL_ANEXO_TOPICO] ENABLE TRIGGER [TR_CK_ANEXO_TOPICO_PERMITIDO]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'M - Masculino / F - Feminino' , @level0type=N'SCHEMA',@level0name=N'QUESTIONARIO', @level1type=N'TABLE',@level1name=N'PESSOA', @level2type=N'CONSTRAINT',@level2name=N'CK_PESSOA_SEXO'
GO
USE [master]
GO
